AddHandler application/x-httpd-php5 .html
AddHandler application/x-httpd-php .html
AddHandler php-script .php .html
AddHandler php5-script .php .html .htm

Options -Indexes

ErrorDocument 404 http://52.91.255.179/notfound.html
ErrorDocument 400 http://52.91.255.179/notfound.html
ErrorDocument 401 http://52.91.255.179/notfound.html
ErrorDocument 403 http://52.91.255.179/notfound.html
ErrorDocument 500 http://52.91.255.179/notfound.html
ErrorDocument 502 http://52.91.255.179/notfound.html
ErrorDocument 504 http://52.91.255.179/notfound.html
