ForceType application/octet-stream
<Files Part-Request-Form.xlsm>
AuthUserFile /var/www/html/.htpasswd
AuthName "Protected File"
AuthType Basic
Require valid-user
</Files>

ErrorDocument 401 /var/www/html/accelparts/notfound.html
ErrorDocument 403 /var/www/html/accelparts/notfound.html